<div class="row my-5">
  <div class="col-4">
    <div class="card">
      <img src="assets/images/angular_spring_boot.png" height="250">
      <div class="card-body">
        <h5 class="card-title">DevSecOps</h5>
        <p class="card-text">
          Aplicar la seguridad en el desarrollo de aplicativos minimiza vulnerabilidades en superficie de ataque
        </p>
        <a href="#" class="btn btn-primary">Ponsiano De Loor</a>

        <a href="#" class="btn btn-primary mx-2">Ms Compute Security, Dev</a>
      </div>
    </div>

  </div>
  <div class="col-8">
    <div class="accordion" id="accordionExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Registro de Personas
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
          <div class="accordion-body">
              Formulario para crear personas

            <form [formGroup]="personForm" (ngSubmit)="savePerson()">
              <div class="mb-3">
                <label for="identification" class="form-label">Identificación</label>
                <input type="text" class="form-control" id="identification" formControlName="identification">
              </div>
              <div class="mb-3">
                <label for="name" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="name" formControlName="name">
              </div>
              <div class="mb-3">
                <label for="age" class="form-label">Edad</label>
                <input type="number" class="form-control" id="age" formControlName="age">
              </div>
              <div class="mb-3">
                <label for="address" class="form-label">Dirección</label>
                <input type="text" class="form-control" id="address" formControlName="address">
              </div>
              <div class="mb-3">
                <label for="phone" class="form-label">Teléfono</label>
                <input type="text" class="form-control" id="phone" formControlName="phone">
              </div>
              <button type="submit" class="btn btn-primary">Crear</button>
            </form>

            <ul class="list-group">
              <li *ngFor="let person of persons" class="list-group-item">
                {{person.identification}} - {{person.name}}, <strong>Edad</strong> {{person.age}},
                Dirección {{person.address}}, Teléfono {{person.phone}}
              </li>
            </ul>

          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Creacion de Clientes
          </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            Formulario para crear clientes
            <form [formGroup]="clientForm" (ngSubmit)="saveClient()">
              <div class="mb-3">
                <label for="person" class="form-label">Seleccione una persona</label>
                <select class="form-select" aria-label="Default select example" id="person" formControlName="person" name="person">
                  <option>Seleccione una persona</option>
                  <option *ngFor="let person of persons" [value]="person.id">{{person.name}}</option>
                </select>
              </div>
              <div class="mb-3">
                <div class="mb-3">
                  <label for="password" class="form-label">Contraseña</label>
                  <input type="password" class="form-control" id="password" formControlName="password">
                  <input type="hidden" class="form-control" id="active" formControlName="active" value="true">
                </div>

              </div>
              <button type="submit" class="btn btn-primary">Crear</button>
            </form>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Creacion de tipo de Cuentas
          </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            Formulario para crear tipo de cuentas
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingFour">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
            Creacion de cuentas
          </button>
        </h2>
        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            Formulario para la creacion de cuentas
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingFive">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFour">
            Creacion de transacciones
          </button>
        </h2>
        <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            Formulario para la crecion de transacciones
          </div>
        </div>
      </div>

    </div>

  </div>
</div>
